# Un descarte necesario

Una vez di el primer vistazo al dataset y siguiendo la expericia de otros expertos en el tema, decidi eliminar una variable que no aportaria al futuro modelo que busca predecir si un cliente creara o no una cuenta de ahora depues de la campana de marketing

In [2]:
# Importamos las librerias necesarias
import pandas as pd
import numpy as np

In [3]:
# Cargamos el dataset
df_bank = pd.read_csv("bank.csv")

In [4]:
df_bank = pd.read_csv("bank.csv", sep=';') # El uso se sep ';' se debe a que los datos estan separados por ;
df_bank.head(4)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no

In [5]:
# Eliminamos la variable duration
df_bank = df_bank.drop('duration', axis=1)
df_bank.head(4)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,4,-1,0,unknown,no

### Por que elimine duration del dataset ?

La columna 'duration' es una fuga de datos (data leakage) si el objetivo es un modelo predictivo para nuevas llamadas. Deberemos decidir si la eliminamos o la usamos solo para un análisis exploratorio. Para un modelo de predicción, se debería eliminar por tanto hemos decidido eliminarla desde el inicio

Tambien cambiaremos el nombre de la comlumna 'y' por el de 'get_account_?' para que sea mas intuitiva la interpretacion de los datos en el analisis exploratorio

In [6]:
df_bank = df_bank.rename(columns={'y': 'get_account_?'})

Ahora una vez hecho todo lo anterior guardaremos en un csv el nuevo dataset pero ahora separado por comas (,) y sin la columna duration

In [7]:
df_bank.to_csv("bank_ready.csv", index=False)

Con esta accion realizada ya estamos listos para hacer un analisis univariado de las variables de nuestro nuevo dataset 'bank_ready'